@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=DynaPuff:wght@400;500;600;700&family=Qwitcher+Grypen:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 1000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: burlywood;
    z-index: 1000;
}

header .marca {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DynaPuff', cursive;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}

header ul li a {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0 15px;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DynaPuff', cursive;
}

header.sticky {
    padding: 5px 100px;
    background-color: #000;
    border-bottom: 1px solid rgba(0, 0, 0.1);
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
    border-bottom: 1px solid rgb (0, 0, 0, .1);
    transition: 3s;
}

header.sticky .marca,
header.sticky ul li a {
    color: #000;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background: url(../assets/43011.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: chartreuse;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline overline;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DynaPuff', cursive;

}

.banner h2 span {
    color: red;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'DynaPuff', cursive;
}

.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p {
    max-width: 800px;
    margin: auto;
    font-size: 30px;
}

h3 {
    font-size: 40px;
    font-weight: 200%;
    color: red;
    margin-bottom: 10px;
    font-weight: 700;
}

p {
    font-size: 27px;
    font-weight: 300%;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box {
    width: 400px;
    background: darkgray;
    box-shadow: 0px 20px 25px rgb(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: auto;
}

.services .box p {
    font-size: 30px;
    font-weight: 300%;
    margin-bottom: 20px;
    text-align: center;

}

.services .box .iconbox {
    margin-top: 25px;
}

.services .box .iconbox img {
    max-width: 300px;
    margin-bottom: 15px;
}

.services .box h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: red;
}

.stats {
    background: rgb(0, 0, 0);
    padding-top: 250px;
    margin-top: -250px;
}

.stats h3 {
    color: darkorange;
    font-size: 60px;
}

.stats p {
    color: rgb(246, 246, 250);
    font-size: 27px;
}

.statsBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
}

.statsBox h2 {
    color: coral;
    font-size: 40px;
}

.statsBox h4 {

    color: deeppink;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 40px;
}

.workBx .brand {
    position: relative;
    width: 250px;
    height: 330px;
    background: rgb(230, 227, 238);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.workBx .brand:hover {
    background: rgb(4, 239, 247);
}

.workBx .brand a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}

.teambx {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.teambx .member {
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teambx .member .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teambx .member .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teambx .member .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 21, 37);
    transition: 0.2s;
    opacity: 0;
}

.teambx .member .details:hover {
    opacity: 1;
}

.teambx .member .details h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teambx .member .details h2 samp {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

.contact {
    background: rgba(229, 130, 229, 0.5);
}

.contact h3 {
    color: rgb(233, 4, 4);
}

.contact p {
    color: rgb(240, 0, 160);
}

.contactForm {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.contactForm form {
    width: 100%;
}

.contactForm .row100 {
    display: flex;
    width: 100%;

}

.contactForm .row100 .inputBx50 {
    width: 50%;
    margin: 0 20px;
}

.contactForm .row100 .inputBx100 {
    width: 100%;
    margin: 0 20px;
}

.contactForm .row100 input,
.contactForm .row100 textarea {
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: rgb(255, 0, 0);
    background: transparent;
    width: 100%;
    padding: 10px 0;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0;
    resize: none;
}

.contactForm .row100 textarea {
    height: 100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder {
    color: rgba(4, 0, 255, 0.5);
}

.contactForm .row100 input[type="submit"] {
    background: rgb(3, 3, 3);
    color: rgb(250, 244, 244);
    max-width: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

#text {
    display: block;
    color: #000;
    font-weight: 500;
    padding: 1PX;
    text-align: left;
    margin-top: -10px;
}

#text1 {
    display: block;
    color: rgb(48, 231, 24);
    font-weight: 1000;
    padding: 1PX;
    text-align: left;
    margin-top: -10px;
}

#text2 {
    display: block;
    color: #000;
    font-weight: 250;
    padding: 1PX;
    text-align: left;
    margin-top: -10px;
}

#text3 {
    display: block;
    color: #000;
    font-weight: 1500;
    padding: 1PX;
    text-align: left;
    margin-top: -10px;
}

/*slider*/
.Slider {
    position: relative;

}

.Slider_items {
    overflow: hidden;
}

@keyframes zoom {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.Slider_items .item {
    display: none;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    animation: zoom 1s;
}

.Slider_items .item img {
    max-width: 100%;
    display: block;
}

.Slider_items .item.active {
    display: block;
}

.Slider_items .item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #000;
    background: rgb(255, 255, 255, 0.5);
    font-size: 20px;
}

.Slider .left-Slide,
.Slider .right-Slide {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #070707;
    color: rgb(2, 209, 236);
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
    top: 50%;
    transform: translateY(-50%);

}

.Slider .left-Slide {
    left: 10px;

}

.Slider .right-Slide {
    right: 10px;

}

.Slider .left-Slide:hover,
.Slider .right-Slide:hover {
    background: #ec0404;
}

.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.sci ul {
    display: flex;
}

.sci ul li {
    list-style: none;
}

.sci ul li a {
    text-decoration: none;
    display: inline-block;
    margin: 0 30px;
}

.sci ul li a img {

    max-width: 40px;
}

.sci ul li a:hover img {
    opacity: 0.5;
}

#button-up {
    width: 60px;
    height: 60px;
    background: rgb(248, 14, 6);
    border-radius: 60%;
    cursor: pointer;
    border: 4px solid transparent;

    position: fixed;
    bottom: 5%;
    right: 3%;


    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 20px;

    transition: all 300ms ease;
    transform: scale(1);
    box-shadow: 0px 20px 25px white;
}

#button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0.1);
}

@media(max-width: 992px) {
    .toggle {

        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;

    }

    .toggle::before {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        box-shadow: 0 10px 0 #000;
    }

    .toggle::after {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;

    }


    header,
    header.sticky {
        padding: 5px 50px;
        background: #0fe4f3
    }

    header .marca,
    header ul li a {
        color: #000;
    }

    header ul {
        position: absolute;
        top: 59px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        visibility: hidden;
        background: #fff;
        opacity: 0;

    }

    header.active ul {

        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }

    header.active ul li a {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 60px;
        padding: 0 50px;
    }

    .sec {
        padding: 100px 50px 50px 50px;
    }

    .services .box {
        width: 100%;

    }

    .stats {
        padding-top: 250px;
    }

    .row100 {
        flex-direction: column;
    }

    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100 {
        width: 100%;
        margin: 0;
    }

    .sci {
        margin: 20px;
    }

    .sci ul li a img {
        font-size: 24px;
    }
}